div{
    height: 400px;
    width: 70%;
    background-color: rgb(34, 171, 164);
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
}
div h1{

    font-size: 80px;
}
.countr
{

    height: 35%;
    width: 30%;
    background-color: rgb(255, 255, 255);
    margin: auto;
    border-radius: 50%;
    /* position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%; */
}
div h2{
    font-size: 100px;
    padding-top: 0%;
}
button
{
    border:1px solid black;
    /* border-radius: 5px; */
    padding: 10px 20px;
    background-color: rgb(3, 67, 63);
   
}